{% load tags %}
<!doctype html>
<html lang="en">
    <head>
    </head>
    <body>
        <h1>Celebrity Planecrash</h1>
        {% for category, article_list in articles.items %}
        <section class="pc-column" id="{{ category }}">
            <h2 class="pc-column-header" id="{{ category }}">
                {% get_category_title article_list %}
            </h2>
            <ul class="pc-list" id="{{ category }}">
                {% for article in article_list %}
                {% if article.priority %}
                <li class="pc-link" id="{{ article.article_uid }}">
                    <a href="{{ article.url }}" target="_blank">
                        {% if article.new_headline %}
                        {{ article.new_headline }}
                        {% else %}
                        {{ article.original_headline }}
                        {% endif %}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </section>
        {% endfor %}
    </body>
</html>
